<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>094283C5-715E-4F29-BFC1-9ECF56A158E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ri</string>
			<key>text</key>
			<string>React Icons</string>
			<key>url</key>
			<string>https://react-icons.github.io/react-icons/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0C281885-F0A7-48B0-80B0-BA5CA8BE01B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>la</string>
			<key>text</key>
			<string>Books by Author</string>
			<key>url</key>
			<string>http://gen.lib.rus.ec/search.php?req={query}&amp;lg_topic=libgen&amp;open=0&amp;view=simple&amp;res=25&amp;phrase=1&amp;column=author</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>253EBBA5-FCF3-4F47-ACE9-125C323A4BEA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>r</string>
			<key>text</key>
			<string>Naver Real Estate</string>
			<key>url</key>
			<string>https://new.land.naver.com?sk={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>276F2774-3CD1-467A-B9DA-F84DC740D1F6</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>s</string>
			<key>text</key>
			<string>Thesaurus</string>
			<key>url</key>
			<string>https://www.thesaurus.com/browse/{query}?s=t</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>36EC9759-68DE-4B01-B574-4923EE23C5AA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dr</string>
			<key>text</key>
			<string>Dribble</string>
			<key>url</key>
			<string>https://dribbble.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4D4D14AC-35B5-40E2-ACBA-8D3099435E6C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gi</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7EC38F91-25D7-4678-BB73-B3496F53C4DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>n</string>
			<key>text</key>
			<string>Namu Wiki</string>
			<key>url</key>
			<string>https://namu.wiki/w/{query}</string>
		</dict>
		<key>843E7655-6FF5-4EFB-9364-E4A9DE40577A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>l</string>
			<key>text</key>
			<string>Books by Title</string>
			<key>url</key>
			<string>http://gen.lib.rus.ec/search.php?req={query}&amp;lg_topic=libgen&amp;open=0&amp;view=simple&amp;res=25&amp;phrase=1&amp;column=title</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>97F1684A-FB5B-4FB6-A167-25102F75B095</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>m</string>
			<key>text</key>
			<string>Naver Map</string>
			<key>url</key>
			<string>https://map.naver.com/v5/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A386A2F1-1F75-4939-91F1-592D3F1D3520</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>c</string>
			<key>text</key>
			<string>Coupang</string>
			<key>url</key>
			<string>https://www.coupang.com/np/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ABC8CD09-0EEE-4C90-B933-2803955FBB01</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>p</string>
			<key>text</key>
			<string>Pixabay</string>
			<key>url</key>
			<string>https://pixabay.com/images/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B2AB5C3F-77AE-452D-873E-DD7A7421F4ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
		<key>C7F710B5-B6FB-4A57-8714-BD960EEFC52E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>a</string>
			<key>text</key>
			<string>Aladin</string>
			<key>url</key>
			<string>https://www.aladin.co.kr/search/wsearchresult.aspx?SearchTarget=All&amp;SearchWord={query}</string>
		</dict>
		<key>CD7D10F4-D063-4F0C-857B-C60EA47D2C9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>b</string>
			<key>text</key>
			<string>Books it Out</string>
			<key>url</key>
			<string>https://booksitout.com/search/{query}</string>
		</dict>
		<key>DE5E863A-E310-4DC9-B99E-BEE9D8112A1B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ic</string>
			<key>text</key>
			<string>Flaticon</string>
			<key>url</key>
			<string>https://www.flaticon.com/search?word={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
