<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forcequitKeyword</key>
	<string>fq</string>
	<key>forcequitKeywordEnabled</key>
	<false/>
	<key>hideKeywordEnabled</key>
	<false/>
	<key>lockKeywordEnabled</key>
	<false/>
	<key>quitKeywordEnabled</key>
	<false/>
	<key>quitallKeyword</key>
	<string>fa</string>
	<key>restartKeyword</key>
	<string>re</string>
	<key>shutdownKeywordEnabled</key>
	<false/>
	<key>sleepKeyword</key>
	<string>sle</string>
	<key>sleepKeywordEnabled</key>
	<false/>
	<key>sleepdisplaysKeywordEnabled</key>
	<false/>
	<key>volumedownKeywordEnabled</key>
	<false/>
	<key>volumemuteKeyword</key>
	<string>mu</string>
	<key>volumemuteKeywordEnabled</key>
	<false/>
	<key>volumeupKeywordEnabled</key>
	<false/>
</dict>
</plist>
